<!DOCTYPE html>

{% load static %}

<html>

  <head>
    <title> Login </title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/> <!-- CSS -->
  </head>

  <body>
    <h1> Welcome back </h1>

    <p> Please enter your username and password below</p>

    <form>
        <input type="text" name="username"><br>

        <input type="password" name="password">

    </form>

    <p> <em> {{ hint }} </em> </p>

    <a href="/weatherwatch/"> Home </a>
    <a href="/weatherwatch/about/"> About </a>

  </body>


</html>
